:host {
    --source-background: url('../res/images/transparent.svg');
    --ui-scale: calc(.5 / var(--s));
}

:host([empty]) .preview {
    display: none;
}

:host(:not([empty])) .placeholder {
    display: none;
}

gyro-input {
    height: 32px;
    min-width: 200px;
}

.toolbar {
    justify-content: space-between;
}

.tool-button {
    white-space: nowrap;
}

.preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
}

#origin {
    transform: translate(50%, 50%) scale(var(--s, 1));
}

#view {
    transform: translate(var(--x), var(--y));
}

.canvas-wrapper {
}

foreignObject {
    position: relative;
    z-index: -1;
    pointer-events: none;
    transform: rotate(calc(var(--r, 0) * 1deg));
}

#canvasMask {
    transform: rotate(calc(var(--r, 0) * -1deg));
}

.overlay {
    opacity: 0.65;
    pointer-events: none;
    transform: rotate(calc(var(--r, 0) * 1deg));
}

canvas {
    background: url(./images/transparency.svg);
    background-color: #282828;
    background-size: calc(20px / var(--s));
    image-rendering: pixelated;
}

.border {
    stroke: white;
    stroke-width: var(--ui-scale);
    fill: transparent;
}

.handle {
    fill: white;
}

.handle#handleTL {
    cursor: nwse-resize;
}
.handle#handleTR {
    cursor: nesw-resize;
}
.handle#handleBL {
    cursor: nesw-resize;
}
.handle#handleBR {
    cursor: nwse-resize;
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.2;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    pointer-events: none;
    --icon-size: 200px;
}

.placeholder gyro-icon {
    margin-bottom: 40px;
}

.tool-button {
    border-radius: 4px;
}

gyro-input {
    width: 220px;
}

.settings {
    position: absolute;
    right: 10px;
    top: 60px;
    border-radius: 4px;
    background: hsla(0, 0%, 13%, 0.75);
    backdrop-filter: blur(12px);
    padding: 5px 15px;
    width: 220px;
    box-sizing: border-box;
    z-index: 1000;
    max-height: calc(100% - 70px);
    overflow: overlay;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.settings .headline {
    width: auto;
    display: flex;
    align-items: center;
    opacity: .5;
    margin: 0 -15px 10px -15px;
    background: var(--gyro-pallate-panel-header);
    padding: 5px 15px;
}

.settings .headline:not(:first-child) {
    margin: 15px -15px 10px -15px;
}

.settings .headline::after {
    /* content: ""; */
    flex: 1;
    height: 1px;
    width: 100%;
    margin-left: 10px;
    background: currentColor;
}

.settings button {
    width: 100%;
}

.settings label {
    margin: 10px 0 5px 0;
    display: block;
}

.settings gyro-fluid-input {
    width: 100%;
    height: 24px;
}

dropdown-button {
    z-index: 1000;
    text-align: center;
    height: 28px;
    box-sizing: border-box;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

gyro-histogram {
    display: block;
    width: 300px;
    height: 130px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    opacity: 0.1;
}
