
.chat-preview {
    box-sizing: border-box;
    background-color: hsl(240, 0%, 10%);
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.chat-titlebar {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-title {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(222, 222, 227);
}

.emote-preview-container {
    padding: 1rem 1rem;
}

.emote-preview-container .emote-preview {
    margin-right: 10px;
}

.image-preview {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 6px;
}

.emote-preview {
    /* margin: 0 3px; */
    /* border: 1px solid black; */
}

.twitch-chat-preview {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 5px;
    flex: 1;
}

.twitch-chat-line {
    padding: .3rem 1rem;
    line-height: 20px;
}

.twitch-chat-line span {
    display: inline-flex;
    height: 14px;
    align-items: center;
    vertical-align: middle;
}

.twitch-chat-line .message {
    opacity: 0.5;
}

.twitch-chat-line .sepearator {
    width: 8px;
}

.twitch-chat-line .username {
    font-weight: 700;
    font-size: 12px;
    color: rgb(41, 179, 220);
}

.fake-chat-input {
    padding-left: .55rem !important;
    padding-right: .55rem !important;
    padding-bottom: .55rem !important;
    margin-top: 20px;
}

.chat-input {
    width: 100%;
    height: 42px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
}

.chat-input-footer {
    margin-top: .55rem !important;
    display: flex;
    justify-content: space-between;
}

.chat-button {
    min-width: 48px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.chat-button:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.125;
}

.channel-points {
    color: rgb(173, 173, 184);
    font-weight: 600;
    font-size: 12px;
}

.channel-points-badge {
    margin-right: 5px;
}

.chat-submit-button {
    background: rgb(145, 71, 255);
}
