body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

body[loading] main {
    opacity: 0;
}

@keyframes loading {
    from { transform: translate(-50%, -50%) rotate(0deg) }
    to { transform: translate(-50%, -50%) rotate(360deg) }
}

body::before {
    content: "";
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    border-bottom: 2px solid transparent;
    animation: loading 1s linear infinite;
}

body[error]::after {
    content: attr(error);
    position: fixed;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    opacity: 0.5;
    padding: 6px 12px;
    color: #fff;
    background: #000;
    border-radius: 4px;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr;
    transition: opacity .125s ease-out;
}

gyro-menubar {
    padding: 5px 0;
}

gyro-layout {
    width: 100%;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
}

#openButton {
    display: none;
}

notifications {
    position: fixed;
    z-index: 1000;
    left: 60px;
    bottom: 5px;
}

@keyframes slide-in-up {
    from { transform: translateY(100%); opacity: 0; }
}

notifications notification {
    animation: slide-in-up .15s ease;
}

.editor {
    background-color: #191919;
}

.showcase-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.showcase .emote-name {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.showcase {
    width: 500px;
    height: 300px;
    background: var(--gyro-pallate-panel-content);
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.color-panel {
    padding: 10px;
    box-sizing: border-box;
}

.color-panel gyro-slider {
    width: 100%;
}
