@import './chat.css';

body {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

body[loading] {
    opacity: 0;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr;
}

gyro-menubar {
    padding: 5px 0;
}

gyro-layout {
    width: 100%;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
}

h2 {
    font-size: 14px;
    font-weight: normal;
    color: #eee;
    margin: 0 0 20px 0;
}

#openButton {
    display: none;
}

notifications {
    position: fixed;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.editor {
    background-color: #191919;
}

.showcase-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.showcase .emote-name {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.showcase {
    width: 500px;
    height: 300px;
    background: var(--gyro-pallate-panel-content);
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
